{% extends 'defaults.html' %}
{% block body %}
    <div class="chat login">
        <div class="label">
            <label for="username">Username</label><br>
            <input type="text" name="username" id="username">
        </div>
        <div class="label">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password">
        </div>
        <div class="label">
            <button type="submit">Connecter</button>
        </div>
    </div>
{% endblock %}